@model 拍卖系统.Models.Good

@{
    ViewData["Title"] = "添加商品";
}
<section class="content-header">
	<h1>添加商品</h1>
</section>
<section class="content">
	<form asp-action="Create">
		<div class="form-horizontal">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Name" class="col-md-2 control-label"></label>
				<div class="col-md-10">
					<input asp-for="Name" class="form-control" />
					<span asp-validation-for="Name" class="text-danger" />
				</div>
			</div>
			<div class="form-group">
				<label asp-for="Picture" class="col-md-2 control-label"></label>
				<div class="col-md-10">
					<input asp-for="Picture" class="form-control" />
					<span asp-validation-for="Picture" class="text-danger" />
				</div>
			</div>
			<div class="form-group">
				<label asp-for="Price" class="col-md-2 control-label"></label>
				<div class="col-md-10">
					<input asp-for="Price" class="form-control" />
					<span asp-validation-for="Price" class="text-danger" />
				</div>
			</div>
			<div class="form-group">
				<label asp-for="Description" class="col-md-2 control-label"></label>
				<div class="col-md-10">
					<input asp-for="Description" class="form-control" />
					<span asp-validation-for="Description" class="text-danger" />
				</div>
			</div>
			<div class="form-group">
				<label asp-for="Content" class="col-md-2 control-label"></label>
				<div class="col-md-10">
					<input asp-for="Content" class="form-control" />
					<span asp-validation-for="Content" class="text-danger" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" value="Create" class="btn btn-default" />
				</div>
			</div>
		</div>
	</form>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
