@model 拍卖系统.Models.Good

@{
	ViewData["Title"] = "编辑商品";
}
@section css{
	<link rel="stylesheet" href="~/js/themes/default/css/umeditor.min.css" />
}
<section class="content-header">
	<h1>编辑商品</h1>
</section>
<section class="content">
	<form asp-action="Edit">
		<div class="form-horizontal">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />
			<input type="hidden" asp-for="CreateTime" />
			<input type="hidden" asp-for="Picture" />
			<div class="form-group">
				<label asp-for="Name" class="col-md-2 control-label"></label>
				<div class="col-md-10">
					<input asp-for="Name" class="form-control" />
					<span asp-validation-for="Name" class="text-danger" />
				</div>
			</div>
			<div class="form-group">
				<label asp-for="picdata" class="col-md-2 control-label"></label>
				<div class="col-md-10">
					<input asp-for="picdata" type="file" accept="image/*" />
				</div>
			</div>
			<div class="form-group">
				<label asp-for="Price" class="col-md-2 control-label"></label>
				<div class="col-md-10">
					<input asp-for="Price" class="form-control" />
					<span asp-validation-for="Price" class="text-danger" />
				</div>
			</div>
			<div class="form-group">
				<label asp-for="Description" class="col-md-2 control-label"></label>
				<div class="col-md-10">
					<input asp-for="Description" class="form-control" />
					<span asp-validation-for="Description" class="text-danger" />
				</div>
			</div>
			<div class="form-group">
				<label asp-for="Content" class="col-md-2 control-label"></label>
				<div class="col-md-10">
					<textarea asp-for="Content" class="form-control" rows="10" style="height:300px"></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" value="Save" class="btn btn-default" />
				</div>
			</div>
		</div>
	</form>
</section>
@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	<script src="~/js/umeditor.config.js"></script>
	<script src="~/js/umeditor.min.js"></script>
	<script src="~/js/lang/zh-cn/zh-cn.js"></script>
	<script>
		//实例化编辑器
		var um = UM.getEditor('Content');
	</script>
}
