################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/拍卖系统/.vs
/拍卖系统/src/拍卖系统/node_modules
/拍卖系统/src/拍卖系统/bin
/拍卖系统/src/拍卖系统/obj
/拍卖系统/src/拍卖系统/拍卖系统.csproj.user
/.vs
