@model MemberBindModel

@{
	ViewBag.Title = "注册会员";
}

<h2>成为TJ会员</h2>

<p>如有不明白的地方，可到店联系销售人员协助完成绑定操作</p>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(model => model.OpenId)

		<div class="form-group">
			<label class="control-label col-md-2" asp-for="Phone"></label>
			<div class="col-md-10">
				<input asp-for="Phone" type="number" class="form-control" maxlength="11" />
				<span asp-validation-for="Phone" class="text-danger"></span>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="注册" class="btn btn-success" />
			</div>
		</div>
	</div>
}
@section scripts{
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
}