<section class="content-header">
	<h1>调度中心</h1>
</section>
<section class="content" ng-controller="Center.Controller">
	<div class="row">
		<div class="col-md-3">
			<div class="box box-warning direct-chat direct-chat-warning">
				<div class="box-header with-border">
					<h3 class="box-title">Direct Chat</h3>
					<div class="box-tools pull-right">
						<span title="3 New Messages" class="badge bg-yellow" data-toggle="tooltip">3</span>
						<button class="btn btn-box-tool" type="button" data-widget="collapse">
							<i class="fa fa-minus"></i>
						</button>
						<button title="Contacts" class="btn btn-box-tool" type="button" data-toggle="tooltip" data-widget="chat-pane-toggle">
							<i class="fa fa-comments"></i>
						</button>
						<button class="btn btn-box-tool" type="button" data-widget="remove">
							<i class="fa fa-times"></i>
						</button>
					</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<!-- Conversations are loaded here -->
					<div class="direct-chat-messages">
						<!-- Message. Default to the left -->
						<div class="direct-chat-msg">
							<div class="direct-chat-info clearfix">
								<span class="direct-chat-name pull-left">Alexander Pierce</span>
								<span class="direct-chat-timestamp pull-right">23 Jan 2:00 pm</span>
							</div>
							<!-- /.direct-chat-info -->
							<img class="direct-chat-img" alt="message user image" src="dist/img/user1-128x128.jpg"><!-- /.direct-chat-img -->
							<div class="direct-chat-text">
								Is this template really for free? That's unbelievable!
							</div>
							<!-- /.direct-chat-text -->
						</div>
						<!-- /.direct-chat-msg -->
						<!-- Message to the right -->
						<div class="direct-chat-msg right">
							<div class="direct-chat-info clearfix">
								<span class="direct-chat-name pull-right">Sarah Bullock</span>
								<span class="direct-chat-timestamp pull-left">23 Jan 2:05 pm</span>
							</div>
							<!-- /.direct-chat-info -->
							<img class="direct-chat-img" alt="message user image" src="dist/img/user3-128x128.jpg"><!-- /.direct-chat-img -->
							<div class="direct-chat-text">
								You better believe it!
							</div>
							<!-- /.direct-chat-text -->
						</div>
						<!-- /.direct-chat-msg -->
						<!-- Message. Default to the left -->
						<div class="direct-chat-msg">
							<div class="direct-chat-info clearfix">
								<span class="direct-chat-name pull-left">Alexander Pierce</span>
								<span class="direct-chat-timestamp pull-right">23 Jan 5:37 pm</span>
							</div>
							<!-- /.direct-chat-info -->
							<img class="direct-chat-img" alt="message user image" src="dist/img/user1-128x128.jpg"><!-- /.direct-chat-img -->
							<div class="direct-chat-text">
								Working with AdminLTE on a great new app! Wanna join?
							</div>
							<!-- /.direct-chat-text -->
						</div>
						<!-- /.direct-chat-msg -->
						<!-- Message to the right -->
						<div class="direct-chat-msg right">
							<div class="direct-chat-info clearfix">
								<span class="direct-chat-name pull-right">Sarah Bullock</span>
								<span class="direct-chat-timestamp pull-left">23 Jan 6:10 pm</span>
							</div>
							<!-- /.direct-chat-info -->
							<img class="direct-chat-img" alt="message user image" src="dist/img/user3-128x128.jpg"><!-- /.direct-chat-img -->
							<div class="direct-chat-text">
								I would love to.
							</div>
							<!-- /.direct-chat-text -->
						</div>
						<!-- /.direct-chat-msg -->
					</div>
					<!--/.direct-chat-messages-->
					<!-- Contacts are loaded here -->
					<div class="direct-chat-contacts">
						<ul class="contacts-list">
							<li>
								<a href="#">
									<img class="contacts-list-img" alt="User Image" src="dist/img/user1-128x128.jpg">
									<div class="contacts-list-info">
										<span class="contacts-list-name">
											Count Dracula
											<small class="contacts-list-date pull-right">2/28/2015</small>
										</span>
										<span class="contacts-list-msg">How have you been? I was...</span>
									</div>
									<!-- /.contacts-list-info -->
								</a>
							</li>
							<!-- End Contact Item -->
							<li>
								<a href="#">
									<img class="contacts-list-img" alt="User Image" src="dist/img/user7-128x128.jpg">
									<div class="contacts-list-info">
										<span class="contacts-list-name">
											Sarah Doe
											<small class="contacts-list-date pull-right">2/23/2015</small>
										</span>
										<span class="contacts-list-msg">I will be waiting for...</span>
									</div>
									<!-- /.contacts-list-info -->
								</a>
							</li>
							<!-- End Contact Item -->
							<li>
								<a href="#">
									<img class="contacts-list-img" alt="User Image" src="dist/img/user3-128x128.jpg">
									<div class="contacts-list-info">
										<span class="contacts-list-name">
											Nadia Jolie
											<small class="contacts-list-date pull-right">2/20/2015</small>
										</span>
										<span class="contacts-list-msg">I'll call you back at...</span>
									</div>
									<!-- /.contacts-list-info -->
								</a>
							</li>
							<!-- End Contact Item -->
							<li>
								<a href="#">
									<img class="contacts-list-img" alt="User Image" src="dist/img/user5-128x128.jpg">
									<div class="contacts-list-info">
										<span class="contacts-list-name">
											Nora S. Vans
											<small class="contacts-list-date pull-right">2/10/2015</small>
										</span>
										<span class="contacts-list-msg">Where is your new...</span>
									</div>
									<!-- /.contacts-list-info -->
								</a>
							</li>
							<!-- End Contact Item -->
							<li>
								<a href="#">
									<img class="contacts-list-img" alt="User Image" src="dist/img/user6-128x128.jpg">
									<div class="contacts-list-info">
										<span class="contacts-list-name">
											John K.
											<small class="contacts-list-date pull-right">1/27/2015</small>
										</span>
										<span class="contacts-list-msg">Can I take a look at...</span>
									</div>
									<!-- /.contacts-list-info -->
								</a>
							</li>
							<!-- End Contact Item -->
							<li>
								<a href="#">
									<img class="contacts-list-img" alt="User Image" src="dist/img/user8-128x128.jpg">
									<div class="contacts-list-info">
										<span class="contacts-list-name">
											Kenneth M.
											<small class="contacts-list-date pull-right">1/4/2015</small>
										</span>
										<span class="contacts-list-msg">Never mind I found...</span>
									</div>
									<!-- /.contacts-list-info -->
								</a>
							</li>
							<!-- End Contact Item -->
						</ul>
						<!-- /.contatcts-list -->
					</div>
					<!-- /.direct-chat-pane -->
				</div>
				<!-- /.box-body -->
				<div class="box-footer">
					<div class="input-group">
						<input name="message" class="form-control" type="text" placeholder="Type Message ...">
						<span class="input-group-btn">
							<button class="btn btn-warning btn-flat" type="button">Send</button>
						</span>
					</div>
				</div>
				<!-- /.box-footer-->
			</div>
		</div>
	</div>
</section>
@section scripts{
	<script>
		var mid = 0;
	</script>
	<environment names="Development">
		<script src="~/lib/angular/angular.js"></script>
	</environment>
	<environment names="Staging,Production">
		<script src="~/lib/angular/angular.min.js"></script>
	</environment>
	<script src="~/js/angular-signalr-hub.min.js"></script>
	<script src="~/js/models/models.js"></script>
}