<section class="content-header">
	<h1>调度中心</h1>
</section>
<section class="content" ng-controller="Center.Controller">
	<div class="row">
		<div class="col-md-3" ng-repeat="a in auctions">
			<div class="box box-warning direct-chat direct-chat-warning">
				<div class="box-header with-border">
					<h3 class="box-title">{{a.name}}</h3>
					<div class="box-tools pull-right">
						<span title="0 peoples" class="badge bg-yellow" data-toggle="tooltip">0</span>
						<button class="btn btn-box-tool" type="button" data-widget="collapse">
							<i class="fa fa-minus"></i>
						</button>
						<button class="btn btn-box-tool" type="button" data-widget="remove">
							<i class="fa fa-times"></i>
						</button>
					</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<!-- Conversations are loaded here -->
					<div class="direct-chat-messages">
						<!-- Message. Default to the left -->
						<div class="direct-chat-msg" ng-repeat="r in a.auctionRecords">
							<div class="direct-chat-info clearfix">
								<span class="direct-chat-name pull-left">{{r.member.nickName}}</span>
								<span class="direct-chat-timestamp pull-right">{{r.createTime|date:'MM-dd HH:mm'}}</span>
							</div>
							<!-- /.direct-chat-info -->
							<img class="direct-chat-img" alt="message user image" ng-src="{{r.member.avatar}}" /><!-- /.direct-chat-img -->
							<div class="direct-chat-text">
								出价 ￥{{r.money}}
							</div>
							<!-- /.direct-chat-text -->
						</div>
						<!-- /.direct-chat-msg -->
					</div>
					<!--/.direct-chat-messages-->
				</div>
				<!-- /.box-body -->
				<div class="box-footer">
					<div class="input-group">
						<input name="message" class="form-control" type="text" placeholder="Type Message ...">
						<span class="input-group-btn">
							<button class="btn btn-warning btn-flat" type="button">Send</button>
						</span>
					</div>
				</div>
				<!-- /.box-footer-->
			</div>
		</div>
	</div>
</section>
@section scripts{
	<script>
		var mid = 0;
	</script>
	<environment names="Development">
		<script src="~/lib/angular/angular.js"></script>
	</environment>
	<environment names="Staging,Production">
		<script src="~/lib/angular/angular.min.js"></script>
	</environment>
	<script src="~/js/angular-signalr-hub.min.js"></script>
	<script src="~/js/models/models.js"></script>
	<script src="~/js/controllers/centercontroller.js"></script>
}