@model 拍卖系统.Models.Auction

@{
	ViewData["Title"] = "编辑拍卖";
}
@section css{
	<!-- daterange picker -->
	<link rel="stylesheet" href="~/lib/bootstrap-daterangepicker/daterangepicker.css" />
}
<section class="content-header">
	<h1>编辑拍卖</h1>
</section>
<section class="content">
	<form asp-action="Edit">
		<div class="form-horizontal">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />
			<input type="hidden" asp-for="CreateTime" />
			<input type="hidden" asp-for="Gid" />
			<input type="hidden" asp-for="StartTime" />
			<input type="hidden" asp-for="EndTime" />
			<div class="form-group">
				<label asp-for="Name" class="col-md-2 control-label"></label>
				<div class="col-md-10">
					<input asp-for="Name" class="form-control" />
					<span asp-validation-for="Name" class="text-danger" />
				</div>
			</div>
			<div class="form-group">
				<label asp-for="Bidnb" class="col-md-2 control-label"></label>
				<div class="col-md-10">
					<input asp-for="Bidnb" class="form-control" />
					<span asp-validation-for="Bidnb" class="text-danger" />
				</div>
			</div>
			<!-- Date and time range -->
			<div class="form-group">
				<label class="col-md-2 control-label">拍卖时间</label>
				<div class="col-md-10">
					<div class="input-group">
						<div class="input-group-addon">
							<i class="fa fa-clock-o"></i>
						</div>
						<input type="text" class="form-control pull-right" id="reservationtime">
					</div>
				</div>
				<!-- /.input group -->
			</div>
			<div class="form-group">
				<label asp-for="Onset" class="col-md-2 control-label"></label>
				<div class="col-md-10">
					<input asp-for="Onset" class="form-control" />
					<span asp-validation-for="Onset" class="text-danger" />
				</div>
			</div>
			<div class="form-group">
				<label asp-for="Price" class="col-md-2 control-label"></label>
				<div class="col-md-10">
					<input asp-for="Price" class="form-control" />
					<span asp-validation-for="Price" class="text-danger" />
				</div>
			</div>
			<div class="form-group">
				<label asp-for="StepSize" class="col-md-2 control-label"></label>
				<div class="col-md-10">
					<input asp-for="StepSize" class="form-control" />
					<span asp-validation-for="StepSize" class="text-danger" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" value="Save" class="btn btn-default" />
				</div>
			</div>
		</div>
	</form>
</section>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	<!-- date-range-picker -->
	<script src="~/lib/moment/min/moment.min.js"></script>
	<script src="~/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
	<script src="~/js/auctiondatetime.js"></script>
}
